{% include "header.html" %}


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->


        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Checkout</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Checkout</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Checkout Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="mb-4">Billing details</h1>
                <form id="orderForm">
                    <div class="row g-5">
                        <div class="col-md-12 col-lg-6 col-xl-7">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">First Name<sup>*</sup></label>
                                        <input type="text" class="form-control"  name="firstname">
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="form-item w-100">
                                        <label class="form-label my-3">Last Name<sup>*</sup></label>
                                        <input type="text" class="form-control"  name="lastname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Company Name<sup>*</sup></label>
                                <input type="text" class="form-control" name="company">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Address <sup>*</sup></label>
                                <input type="text" class="form-control" placeholder="House Number Street Name" name="address">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Town/City<sup>*</sup></label>
                                <input type="text" class="form-control" name="city">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Country<sup>*</sup></label>
                                <input type="text" class="form-control"  name="country">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Postcode/Zip<sup>*</sup></label>
                                <input type="text" class="form-control" name="postcode">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Mobile<sup>*</sup></label>
                                <input type="tel" class="form-control" name="mobile">
                            </div>
                            <div class="form-item">
                                <label class="form-label my-3">Email Address<sup>*</sup></label>
                                <input type="email" class="form-control" name="email">
                            </div>
                           
                            <div class="form-item">
                                <textarea class="form-control" name="ordernotes" spellcheck="false" cols="30" rows="11" placeholder="Oreder Notes (Optional)"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 col-xl-5">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Products</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for cart_item in cart_items %}
                    {% comment %} <div id="cartidd"value="{{cart_item.id}}" ></div> {% endcomment %}
                    <tr>
                        <th scope="row">
                            <div class="d-flex align-items-center">
                                <img src="{{ cart_item.product.image.url }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                            </div>
                        </th>
                        <td>
                            <p class="mb-0 mt-4">{{ cart_item.product.name }}</p>
                        </td>
                        <td>
                            <p id="pr" class="mb-0 mt-4">${{ cart_item.product.price }}</p>
                        </td>
                        <td>
                        

 <p class="mb-0 mt-4">{{ cart_item.quantity }}</p>
                        </td>
                        <td>
                            <p class="mb-0 mt-4">${{ cart_item.total_price }}</p>
                        </td>
                       
                    </tr>
                    {% endfor %}
                                      
                                    
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td class="py-5"></td>
                                            <td class="py-5"></td>
                                            <td class="py-5">
                                                <p class="mb-0 text-dark py-3">Subtotal</p>
                                            </td>
                                            <td class="py-5">
                                                <div class="py-3 border-bottom border-top">
                                                    <p class="mb-0 text-dark">${{ total_price }}</p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td class="py-5">
                                                <p id="total-price" class="mb-0 text-dark py-4">Shipping</p>
                                            </td>
                                           <td colspan="3" class="py-5">
    <div class="form-check text-start">
        <input type="radio" class="form-check-input bg-primary border-0" id="Shipping-1" name="shipping_method" value="0">
        <label class="form-check-label" for="Shipping-1">Free Shipping</label>
    </div>
    <div class="form-check text-start">
        <input type="radio" class="form-check-input bg-primary border-0" id="Shipping-2" name="shipping_method" value="15">
        <label class="form-check-label" for="Shipping-2">Flat rate: $15.00</label>
    </div>
    <div class="form-check text-start">
        <input type="radio" class="form-check-input bg-primary border-0" id="Shipping-3" name="shipping_method" value="8">
        <label class="form-check-label" for="Shipping-3">Local Pickup: $8.00</label>
    </div>
</td>

                                        </tr>
                                        <tr>
                                            <th scope="row">
                                            </th>
                                            <td class="py-5">
                                                <p class="mb-0 text-dark text-uppercase py-3">TOTAL</p>
                                            </td>
                                            <td class="py-5"></td>
                                            <td class="py-5"></td>
                                            <td class="py-5">
                                                <div class="py-3 border-bottom border-top">
                                                    <p class="mb-0 text-dark">${{total_price}}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                         <div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
    <div class="col-12">
        <div class="form-check text-start my-3">
            <input type="radio" class="form-check-input bg-primary border-0" id="Transfer-1" name="payment_method" value="DirectBankTransfer">
            <label class="form-check-label" for="Transfer-1">Direct Bank Transfer</label>
        </div>
        <p class="text-start text-dark">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
    </div>
</div>
<div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
    <div class="col-12">
        <div class="form-check text-start my-3">
            <input type="radio" class="form-check-input bg-primary border-0" id="Payments-1" name="payment_method" value="CheckPayments">
            <label class="form-check-label" for="Payments-1">Check Payments</label>
        </div>
    </div>
</div>
<div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
    <div class="col-12">
        <div class="form-check text-start my-3">
            <input type="radio" class="form-check-input bg-primary border-0" id="Delivery-1" name="payment_method" value="CashOnDelivery">
            <label class="form-check-label" for="Delivery-1">Cash On Delivery</label>
        </div>
    </div>
</div>
<div class="row g-4 text-center align-items-center justify-content-center border-bottom py-3">
    <div class="col-12">
        <div class="form-check text-start my-3">
            <input type="radio" class="form-check-input bg-primary border-0" id="Paypal-1" name="payment_method" value="Paypal">
            <label class="form-check-label" for="Paypal-1">Paypal</label>
        </div>
    </div>
</div>

                            <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                                <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Place Order</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Checkout Page End -->


        <!-- Footer Start -->
        {% include "footer.html" %}

        <!-- Copyright Start -->
        <div class="container-fluid copyright bg-dark py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Your Site Name</a>, All right reserved.</span>
                    </div>
                    <div class="col-md-6 my-auto text-center text-md-end text-white">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a class="border-bottom" href="https://themewagon.com">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/lib/easing/easing.min.js"></script>
    <script src="/static/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/assets/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/static/assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/assets/js/main.js"></script>
    </body>

</html>
<script>
$(document).ready(function() {
    updateCartCount();
});
function updateCartCount() {
    $.ajax({
        url: '{% url 'cart_count' %}',  // Update this URL based on your actual URL configuration
        type: 'GET',
        success: function(response) {
            console.log('Cart count:', response.count);
            $('#cartcoun').text(response.count); // Example: Update a span with id `cart-count`
        },
        error: function(error) {
            console.log('Error fetching cart count:', error);
        }
    });
}

// Call updateCartCount on page load or after specific actions


function delcartitem(button) {
    debugger;
    var cartItemId = button.value; // Get the cart item ID
    $.ajax({
        url: '{% url 'delete_cart_item' %}', // URL of the Django view
        type: 'POST',
        data: {
            'cart_item_id': cartItemId // Pass the cart item ID as data
        },
        success: function(response) {
            // If the deletion is successful, remove the corresponding cart item from the DOM
            $(button).closest('tr').remove();
            updateCartCount();
            updateTotalPrice();
        },
        error: function(xhr, errmsg, err) {
            console.log(errmsg); // Log any errors to the console
        }
    });
}
$(document).ready(function() {
    // Add event listener to quantity input fields
    $(document).on('change', '.quantity-input', function() {
        updateCartItemQuantity(this); // Call the update function when quantity changes
    });

    // Add event listener to minus buttons
    $(document).on('click', '.btn-minus', function() {
        var inputField = $(this).closest('.input-group').find('.quantity-input');
        var newValue = parseInt(inputField.val());
        inputField.val(newValue).change(); // Trigger change event after updating value
    });

    // Add event listener to plus buttons
    $(document).on('click', '.btn-plus', function() {
        var inputField = $(this).closest('.input-group').find('.quantity-input');
        var newValue = parseInt(inputField.val());
        inputField.val(newValue).change(); // Trigger change event after updating value
    });
});

// Function to update cart item quantity
function updateCartItemQuantity(inputField) {
    var cartItemId = $(inputField).data('cart-item-id');
    var newQuantity = $(inputField).val();

    // Send AJAX request to update quantity
    $.ajax({
        url: '{% url 'update_cart_item_quantity' %}', // URL of the Django view to update quantity
        type: 'POST',
        data: {
            'cart_item_id': cartItemId,
            'quantity': newQuantity
        },
        success: function(response) {
             if (response.success) {
                debugger;
              // updateTotalPrice1();
                 updateTotalPrice();
                console.log('Quantity updated successfully');
            } else {
                // Quantity update failed, display error message
                console.log('Error updating quantity:', response.error);
                if (response.max_quantity) {
                    // Optionally update input field with maximum available quantity
                    $(inputField).val(response.max_quantity);
                }
            }
            // Handle success if necessary
          
           //alert(response);
            console.log('Quantity updated successfully');
        },
        error: function(xhr, errmsg, err) {
            alert(errmsg);
            console.log(errmsg); // Log any errors to the console
        }
    });
}

function updateTotalPrice() {
    $.ajax({
        url: '{% url 'update_total_price' %}', // URL of the Django view to recalculate total price
        type: 'GET',
        success: function(response) {
            // If the recalculation is successful, update the total price displayed on the page
            $('#total-price').text(response.total_price);
            $('#total-price1').text(response.total_price+300);

        },
        error: function(xhr, errmsg, err) {
            console.log(errmsg); // Log any errors to the console
        }
    });
}
$(document).ready(function() {
    $('#orderForm').submit(function(event) {
      // Prevent the form from submitting normally
      event.preventDefault();
      debugger;
      // Collect form data
      var formData = $(this).serialize();
      
      // Send form data to backend using AJAX
      $.ajax({
        type: 'POST',
        url: '{% url 'submit_order' %}',  // Replace 'save_order' with the URL of your Django view
        data: formData,
        success: function(response) {
          // Handle success response
          // For example, display a success message
          updateCartCount();
          alert('Order placed successfully!');
        },
        error: function(xhr, textStatus, errorThrown) {
          // Handle error response
          // For example, display an error message
          alert('Error placing order. Please try again later.');
        }
      });
    });
  });
</script>